
  
footer {
  position: relative;
  bottom: 0;
  height: 3rem;
  text-align: center;
}

 main {
  overflow: auto;
  width: 100vw;
  position: relative;
}

html, body {
  background-color:rgb(8, 13, 31);
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
  background-repeat: repeat;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
	flex-direction: column;
	max-width: 100%;
  color: white;
}
:root {
  --main-bg-colour-blue: hsla(226, 57%, 16%);
  --main-bg-colour-yellow: rgb(181, 156, 18);
  /* --main-bg-colour-yellow:red; */
}

header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  border: 1px solid rebeccapurple;
  z-index: 1;
  color: wheat;
}

.firstPageContainer {
  height: 100vh;
}

.frontPageLabel {
  max-width: 90%;
  position: relative;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  top: 10rem;
  left: 0;
  right: 0;
  color: rgb(186, 167, 62);
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 

.projectsContainer {
  border: 1px solid yellow;
  position: relative;
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-areas: "header";
  /* grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); */
  /* grid-template-columns: 400px; */
  grid-template-rows: 10rem 1fr 1fr;
  grid-auto-flow: row;
}
.projectImgContainer {
  border: 1px solid yellow;
  width: 15rem;
  height: 12rem;
  overflow: hidden;
  margin: .5rem;
}

.project {
  margin-top: 2rem;
}

.projectImg {
  width: 100%;
  object-fit: contain;
}

.projectEven {
  justify-self: right;
}
.projectsContainer h2 {
  grid-area: header;
  text-align: center;
  /* sdflkjsdflkjsdflkjsdflkj */
}

.project {
  color: #2d2d2d;
}

.section {
  max-width: 90%;
  margin: 0 auto;
}